@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color: hsl(257, 40%, 49%);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
h1,h2,h3,h4,h5{
  font-family: 'Poppins', sans-serif;
}
.poppins-heavy{
  font-weight: 600;
}
body{
  max-width: 1440px;
}
.App{
  
  margin-left: 60px;
  /* margin-right: 40px; */
  margin-top: 30px;
  overflow: hidden;
}
header{
  display: flex;
  
}
main{
  display: flex;
  margin-top: 30px;
}
h2{
  font-size: 3rem;
  padding-left: 40px;
  padding-right: 20px;
}

p{
  padding-top: -10px;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 1.5rem;
}
button{
  margin-left: 40px;
  height: 50px;
  width: 145px;
  border-radius: 50px;
  padding: 10px 30px 10px 30px;
  background-color: #fff;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
button:hover{
  cursor: pointer;
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}
footer{
  float: right;
  /* margin-right: 60px; */
}
footer i{
  margin-right: 10px;
  font-size: 1.5rem;
}
footer i:hover{
  color: hsl(300, 69%, 71%);
  cursor: pointer;
}

/* media queries */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body{
    width: 1024px;
    
  }
  .App{
    margin-right: 40px;
  }
  main img{
    width: 50%;
  }
  h2{
    font-size: 2.0rem;
  }
  p{
    font-size: 1rem;
  }
  footer{
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 767px){
  main{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  
  button{
    margin-left: 150px;
  }
  footer{
    margin-top: 20px;
    margin-right: 210px;
    margin-bottom: 20px
  }
}
@media screen and (max-width: 480px){
  .App{
    width: 480px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  header img{
   
    display:flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  main{
    flex-direction: column;
  }
  main img,h2,p{
    padding-left: 15px;
    padding-right: 15px;
  }
  h2,p,button{
    text-align: center;
  }
  button{
    margin-left: 160px;
  }
  footer{
    margin-top: 30px;
    margin-right: 195px;
  }
 
}